*{
padding: 0;
margin: 0;
font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

.img{
  height: 45px;
  width: 45px;
}

li,a{
  text-decoration: none;
  list-style: none;
  color: #D7FCD4;
  padding: 3px;
  font-size: 17px;
  font-weight: bold;
}

.btn{
  background-color: #3882FC;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-size: 17px;
  font-weight: bold;
  padding: 5px 20px;
}

.nav-bar{
  display: flex;
  
  background-color: #228B22;
  justify-content:space-evenly;
  align-items: center;
}
.nav_item:hover a{
  color: #FFFF00;
}

.body{
  background-color: rgb(95, 155, 71);
  display: flex;
  flex-direction: row;
  height: 480px;
  justify-content: space-evenly;
  align-items: space-evenly ;
  

}

.intro{
  display: flex;
  flex-direction: column;
  padding-left:100px ; 
}

.intro h1{
  margin-top: 55px;
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}
.intro p{
  font-size: 18px;
  color: #F8F8FF;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  margin-top: 10px;
}

.signUp{
  width: 100px;
  padding: 5px 20px;
  background-color: #3882FC;
  border-radius: 10px;
  color: #F8F8FF;
  font-size: 18px;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.body-img{
  margin: 70px 60px 0 60px;
}

/* images */

.main-body {
  height: 550px;
  text-align: center;
  background-color: rgb(146, 245, 107);

}
.main-body h1{
  margin-bottom: 25px;
  font-size: 36px;
  color: #800000;
  padding-top: 80px;
}
.main-body p{
  font-size: 20px;
  color: #8B0000;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  margin-bottom: 30px;
}

.images{
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 50px;
}

.quote{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color:#ecec61 ;
  text-align: center;
  padding: 100px;
  font-size: 25px;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-style: italic;
  font-weight: bolder

}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: darkgreen;
}

.footer p{

  text-align: center;
  
  color: #D7FCD4;
  font-size: 20px;
  font-weight: bold;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

h2{
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
  color:springgreen;
  padding-bottom: 20px;
}

.backtohome{
  padding: 10px 15px;
  margin-left: 620px;
}